body {
    background-color: black;
    color: white;
}
header {
    border-bottom: 1px solid #444;
    padding-bottom: 15px;
}

.vinho {
    display: flex;
    align-items: center;
    padding: 30px;
}

.vinho img {
    width: 250px;
    border-radius: 5px;
    margin-right: 30px;
}

.descricao h2 {
    color: #8B0000;
}

button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #a00000;
}
.vinho {
    display: flex;
    align-items: center;
    padding: 30px;
}

.vinho img {
    width: 300px;
    margin-right: 30px;
    border-radius: 5px;
}

.descricao h2 {
    color: #8B0000;
}

button {
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #a00000;
}